{:deps {:aliases [:dev]}

 :builds {:app {:target :browser
                :output-dir "resources/js"
                :asset-path "js"
                :modules {:main {:entries [inferenceql.chat.webapp.client]}}}}}
